/**
 * api
 * Tiblar is a privacy center media sharing site https://tiblar.com/support/pages/mission 
 *
 * OpenAPI spec version: v2
 * Contact: support@tiblar.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.InlineResponse200
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object CaptchaApi {

  /**
   * Use the id to get the text hidden in the captcha https://tiblar.com/captcha/[id]
   * 
   * Expected answers:
   *   code 200 : InlineResponse200 (successful operation)
   */
  def generateCaptcha(): ApiRequest[InlineResponse200] =
    ApiRequest[InlineResponse200](ApiMethods.GET, "https://virtserver.swaggerhub.com/Tiblar/Tiblar-v2/v2", "/captcha/generate", "application/json")
      .withSuccessResponse[InlineResponse200](200)
      

}

