/**
 * api
 * Tiblar is a privacy center media sharing site https://tiblar.com/support/pages/mission 
 *
 * OpenAPI spec version: v2
 * Contact: support@tiblar.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.InlineResponse2008
import io.swagger.client.model.User
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object RecommendApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : InlineResponse2008 (successful operation)
   * 
   * Available security schemes:
   *   api_key (apiKey)
   */
  def getRandomInterestingTags()(implicit apiKey: ApiKeyValue): ApiRequest[InlineResponse2008] =
    ApiRequest[InlineResponse2008](ApiMethods.GET, "https://virtserver.swaggerhub.com/Tiblar/Tiblar-v2/v2", "/social/recommened/tags/interesting", "application/json")
      .withApiKey(apiKey, "api_key", HEADER)
      .withSuccessResponse[InlineResponse2008](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : InlineResponse2008 (successful operation)
   */
  def getRandomRecentTags(): ApiRequest[InlineResponse2008] =
    ApiRequest[InlineResponse2008](ApiMethods.GET, "https://virtserver.swaggerhub.com/Tiblar/Tiblar-v2/v2", "/social/recommened/tags/trending", "application/json")
      .withSuccessResponse[InlineResponse2008](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Seq[User] (successful operation)
   */
  def getRecommendedUsers(): ApiRequest[Seq[User]] =
    ApiRequest[Seq[User]](ApiMethods.GET, "https://virtserver.swaggerhub.com/Tiblar/Tiblar-v2/v2", "/social/recommend/users", "application/json")
      .withSuccessResponse[Seq[User]](200)
      

}

