/**
 * api
 * Tiblar is a privacy center media sharing site https://tiblar.com/support/pages/mission 
 *
 * OpenAPI spec version: v2
 * Contact: support@tiblar.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.InlineResponse2007
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UserApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : InlineResponse2007 (successful operation)
   *   code 404 :  (User does not exist)
   * 
   * @param username user to view
   */
  def getProfile(username: String): ApiRequest[InlineResponse2007] =
    ApiRequest[InlineResponse2007](ApiMethods.GET, "https://virtserver.swaggerhub.com/Tiblar/Tiblar-v2/v2", "/users/profile/{username}", "application/json")
      .withPathParam("username", username)
      .withSuccessResponse[InlineResponse2007](200)
      .withErrorResponse[Unit](404)
      

}

